//-
  Copyright 2017-present, Facebook, Inc. All rights reserved.

  This source code is licensed under the license found in the
  LICENSE file in the root directory of fbsamples/messenger-bot-samples.

extends layout
block head
   - var title = 'Account Created!'
block content
  div(class='main row')
    div(class='column')
      div(class='header')
        h2 Almost done...
      div(class='subtitle')
      p
        | You've created a Jasper's account! Now, just
        strong &nbsp;log in&nbsp;
        | to get started.
